<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> <%= stranka.steviloRacunov %> 
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>"  selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		var emailReg = new RegExp(emailRegex);
		var validEmail = false; var validCity = false;
		var jsonCityData = null;
		var allCitiesArray = null;
		$.getJSON('https://api.lavbic.net/kraji', function(data) {
    		jsonCityData = data;
    		setAutocomplete();
		});
		
		
		var setAutocomplete = function(){
			
			var allCities = new Array(jsonCityData.length-1);
			allCitiesArray = allCities;
			for(var i = 0; i < jsonCityData.length-1; i++){
				//console.log(jsonCityData[i].kraj);
				allCities[i] = jsonCityData[i].kraj;
			}
			$("#City").autocomplete({
				source:allCities,
				select: function(event, ui){
					var val = Object.entries(ui)[0][1].value;
					//console.log(val);
					if(isValidCity(val)){
						validCity = true;
						completeFields(Object.entries(ui)[0][1].value);
					}
					enableRegistrationButton();
				}
			});
		};
		
		
		var completeFields = function(value){
			
			var index = cityIndex(value);
			if(index == -1){
				console.log("Bad City");
			}
			else{
				document.getElementById("Country").value = "Slovenija";
				document.getElementById("PostalCode").value = jsonCityData[index].postnaStevilka;
			}
		};
		
		var resetFields = function(){
			document.getElementById("Country").value = "";
			document.getElementById("PostalCode").value = "";
		}
		
		
		var cityIndex = function(value){
			for(var i = 0; i < allCitiesArray.length; i++){
				if(value == allCitiesArray[i]){
					return i;
				}
			}
			return -1;
		}
		
		
		var isValidCity = function(value){
			for(var i = 0; i < allCitiesArray.length; i++){
				if(value == allCitiesArray[i]){
					return true;
				}
			}
			return false;
		}
		

		document.getElementById("City").addEventListener("keyup", function () {
			if(jsonCityData == null){
				console.log("Autocompletion not possible");
				validCity = false;
				return;
			}
			if (this.value.length == 0) {
				validCity = false;
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
			}
			else{
				if(isValidCity(this.value)){
					validCity = true;
					completeFields(this.value);
				}
				else{
					validCity = false;
					resetFields();
				}
			}
			enableRegistrationButton();

		});
		
		document.getElementById("Email").onkeyup = function(e){
			if(emailReg.test(document.getElementById("Email").value)){
				document.getElementById("EmailValidate").className = "glyphicon glyphicon-ok";
				validEmail = true;
			}
			else{
				document.getElementById("EmailValidate").className = "glyphicon glyphicon-remove";
				validEmail = false;
			}
			enableRegistrationButton();
		};
		
		var enableRegistrationButton = function(){
			if(validEmail && validCity){
				document.getElementById("Register").disabled = false;
			}
			else{
				document.getElementById("Register").disabled = true;
			}
		};
		
		
		document.getElementById("seznamStrank").onchange = function(){
			deleteClasses();
			var strUser = this.options[this.selectedIndex].value;
			/*console.log(strUser.split(",")[0]);
			strUser = strUser.split(",")[0];*/
			
			var racuni = document.getElementById("seznamRacunov");
			//var strRacun = racun.options[racun.selectedIndex].text;
			//console.log(racuni.options[0].getAttribute('customerid'));
			for (i = 0; i < racuni.length; i++) {
				
        		if(racuni.options[i].getAttribute('customerid') == strUser){
        			racuni.options[i].setAttribute("class", "racun-stranke");
        			//console.log("bolano");
        		}
    		}
			
			
			
		};
		
		var deleteClasses = function(){
			var racuni = document.getElementById("seznamRacunov");
			for (i = 0; i < racuni.length; i++) {
    			racuni.options[i].setAttribute("class", "");
    			//console.log("bolano");
    		}
		};
		
		
		
	});
</script>
</body>
</html>